.navbar-color-custom {
	background-color: #370665;
	
}

.logo-text {
	font: 700 2rem/1.5rem "Open Sans", sans-serif;
	text-decoration: none;
}

.logo-brand{
    height: 32px;
    width: 40px;
   
}
.position{
	position:fixed; top:0
}
.navbar-collapse{
	flex-grow:initial
}
.carW{
	color: tomato;
	text-decoration: none;
}
 .nav-link {
    padding-right: 4.5rem;
    padding-left: 0.5rem;
}